<p id="notice"><%= notice %></p>

<p>
  <b>Volume:</b>
  <%= @profile.volume %>
</p>

<p>
  <b>Key 32:</b>
  <%= @profile.key_32 %>
</p>

<p>
  <b>Key 33:</b>
  <%= @profile.key_33 %>
</p>

<p>
  <b>Key 34:</b>
  <%= @profile.key_34 %>
</p>

<p>
  <b>Key 35:</b>
  <%= @profile.key_35 %>
</p>

<p>
  <b>Key 36:</b>
  <%= @profile.key_36 %>
</p>

<p>
  <b>Key 37:</b>
  <%= @profile.key_37 %>
</p>

<p>
  <b>Key 38:</b>
  <%= @profile.key_38 %>
</p>

<p>
  <b>Key 39:</b>
  <%= @profile.key_39 %>
</p>

<p>
  <b>Key 40:</b>
  <%= @profile.key_40 %>
</p>

<p>
  <b>Key 41:</b>
  <%= @profile.key_41 %>
</p>

<p>
  <b>Key 42:</b>
  <%= @profile.key_42 %>
</p>

<p>
  <b>Key 43:</b>
  <%= @profile.key_43 %>
</p>

<p>
  <b>Key 44:</b>
  <%= @profile.key_44 %>
</p>

<p>
  <b>Key 45:</b>
  <%= @profile.key_45 %>
</p>

<p>
  <b>Key 46:</b>
  <%= @profile.key_46 %>
</p>

<p>
  <b>Key 47:</b>
  <%= @profile.key_47 %>
</p>

<p>
  <b>Key 48:</b>
  <%= @profile.key_48 %>
</p>

<p>
  <b>Key 49:</b>
  <%= @profile.key_49 %>
</p>

<p>
  <b>Key 50:</b>
  <%= @profile.key_50 %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
