<h1 class="new_machine_head">Listing milestones</h1>
 <%unless @milestones.nil?%>
<table>
  <thead>
    <th>title</th>
    <th>icon</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @milestones.each do |milestone| %>
  <tr>
    <td><%= milestone.title%></td>
    <td><%= image_tag milestone.image_url.to_s, :height => 100,:width => 100 %></td>
    <td><%= link_to 'Show', milestone %></td>
    <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
    <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%end%>
<br />

<%= link_to 'New Milestone', new_milestone_path %>
