<% if user_signed_in? %>
    <div>Signed in as... <%= current_user.email %>
      <%= link_to "Sign_out" , destroy_user_session_path ,:method => :delete%>
    </div>
<%else%>
    <div>Please sign in
    <%= link_to "Sign_in" ,user_session %></div>
    <div>OR sign_up for new user
    <%= link_to "Sign_up", new_user_registration_path %>
    </div>
<% end %>

<%@users.each do |user| %>
    <h4><%=user.email%></h4>
<%end%>