<div class="heading">
    <h1><%= @child_profile.name%>'s Profile</h1>
  <h4 class="breadcrum">Dashboard > <%= link_to "Parent Profile",parent_profiles_path %> > <%= link_to @parent_profile.name,parent_profile_path(@parent_profile)%> </h4><br>
</div>

<div class="child_pic">

  <%unless @child_profile.pictures.nil?%>
      <%if @child_profile.pictures.first.nil?%>
        <img style="height: 120px; width: 100px" src="/..//assets/child-default.png">
      <%else%>
        <%= link_to (image_tag @child_profile.pictures.first.image_url ,:height => 120,:width => 100),@child_profile.pictures.first.image_url,{ :class => "grouped_elements", :rel => "images"}  %>
      <%end%>
  <%end%>
</div><br>
<div class="childo">
<h3 class="heading_color">Profile Info</h3>
<div class="content_row">
  <p class="left">
    <b>Registered On:</b>
    <%= date_format(@child_profile.created_at) %>
  </p>

  <p class="center">
    <b>Machine:</b>
    <%= @machine.serialid %>

  </p>
  <p class="right">
    <b>Status:</b>
    <%= @child_profile.status ? "active" : "inactive" %>
  </p>
</div>
<br>
<h3 class="heading_color">Preferences</h3>
<%unless @brewing_preference.nil?%>
    <div class="content_row">
      <p class="lefto">
        <b>Milk: </b>
        <%= @brewing_preference.milk %> units
      </p>

      <p class="center">
        <b>Temperature: </b>
        <%= @brewing_preference.temperature %> cel
      </p>
      </div>
      </div>

    <%end%>
   <br>

<br>
<h3 class="heading_color">Stats</h3>
<% unless @child_state.nil? %>
<table id="child_stat_table">
  <thead>
    <th>Date Time</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Diapers</th>
    <th>Food</th>
    <th>Vaccines</th>
    <th>Actions</th>
   </thead>
    <tbody>
    <%@child_state.each do |stat|%>
        <tr>
          <td><%=date_format(stat.created_at)%></td>
          <td><%=stat.weight%></td>
          <td><%=stat.height%></td>
          <td><%=stat.diapers%></td>
          <td><%=stat.meals %></td>
          <% unless stat.vaccine_id.nil?%>
            <% vaccine = VaccineLanguage.find_by_vaccine_id(stat.vaccine_id)%>
              <td><%= vaccine.title%></td>
          <%else%>
              <td></td>
          <%end%>

          <td><%= link_to 'Destroy', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
     <%end%>
    </tbody>
</table>
<%end%>
<br>
<br>
<% unless @logs.nil? %>
<h3 class="heading_color">Log Book</h3>
<table id="child_log_table">
  <thead>
    <th>Date Time</th>
    <th>Parent</th>
    <th>Text</th>
    <th>Action</th>
  </thead>
    <% @logs.each do |log|%>
  <tbody>
    <tr>
        <td><%= log.created_at%></td>
        <td><%= log.parent_profile.name%></td>
        <td><%= log.log%></td>
      <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
    <%end%>
</table>
<%end%>

<% unless @dairy.nil? %>
<h3 class="heading_color">Diary</h3>
    <table id="child_diary_table">
        <thead>
        <th>Log</th>
        <th>Action</th>
        </thead>
        <tbody>
        <% @dairy.each do |diary|%>
            <tr>
               <td>
                 <%=  get_child_dairy_log(diary).html_safe %>
               </td>
              <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <%end%>
        </tbody>

    </table>
<%end%>


<script>
    $(document).ready(function(){
        $("#child_stat_table").dataTable()
    });
</script>
<script>
    $(document).ready(function(){
        $("#child_log_table").dataTable()
    });
</script>

  <script>
      $(document).ready(function(){
          $("#child_diary_table").dataTable()
      });
  </script>