<%= form_for([@vendor,@product,@child_brewing_preference]) do |f| %>
  <% if @child_brewing_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child_brewing_preference.errors.count, "error") %> prohibited this child_brewing_preference from being saved:</h2>

      <ul>
      <% @child_brewing_preference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :temperature %>
    <%= f.number_field :temperature %>
  </div>

  <div class="field">
    <%= f.label :milk %>
    <%= f.number_field :milk %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :brew_type %>
    <%= f.select :brew_type, Vendor::BREW_TYPE %>
  </div>
    <%= f.hidden_field :product_id, value: @child_brewing_preference.product_id %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


