<p id="notice"><%= notice %></p>

<p>
  <b>Temperature:</b>
  <%= @child_brewing_preference.temperature %>
</p>

<p>
  <b>Milk qty:</b>
  <%= @child_brewing_preference.milk %>
</p>

<p>
  <b>Milk qty:</b>
  <%= @child_brewing_preference.quantity %>
</p>

<p>
  <b>Brew Type:</b>
  <%= @child_brewing_preference.brew_type %>
</p>


<!--< link_to 'Edit', edit_product_child_brewing_preference_path(@product, @child_brewing_preference) %> |-->
<%= link_to 'Back', vendor_product_path(@vendor,@product) %>
