
<h2 class="new_machine_head">Staff User Manager</h2><br><br>
<%unless @users.nil?%>
    <table id="all_users">
      <thead>
        <th>Name</th>
        <th>User Name</th>
        <th>Role</th>
        <th>Last Login</th>
        <th>ip Address</th>
        <th>Actions</th>
      </thead>
      <%@users.each do |user|%>
      <tbody>
        <tr>
          <td><%= user.name%></td>
          <td><%= user.email%></td>
          <%if user.admin%>
            <td>admin</td>
          <%else%>
            <td>Normal</td>
          <%end%>
          <td><%= user.last_login%></td>
          <td><%= user.ip_address%></td>
          <td><%= link_to "edit",edit_user_path(user)%>
          <%= link_to "Delete",user, method: :delete, data: { confirm: 'Are you sure?' } unless current_user == user%> </td>
        </tr>
      </tbody>
      <%end%>

    </table>
<%end%>

<script>
    $(document).ready(function(){
        $("#all_users").dataTable()
    });
</script>