<%= form_for(@parent_profile) do |f| %>
  <% if @parent_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent_profile.errors.count, "error") %> prohibited this parent_profile from being saved:</h2>

      <ul>
      <% @parent_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :devicetypeid %><br />
    <%= f.select :devicetypeid, [['Andriod', 0], ['Iphone', 1],['blackberry',2]] %>
  </div>

  <div class="field">
    <%= f.label :token_id %><br />
    <%= f.text_field :tokenid %>
  </div>

    <div class="field">
      <%= f.label :status %><br />
      <%= f.select :status, [['Active', true], ['Inactive', false]] %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>


    <div class="field">
      <%= f.label :machine_serial_id %><br />
      <%= f.number_field :serialid %>
    </div>
    <div class="field">
        <%= f.label :language%><br />
        <%= select :language,:language_id, @languages,:prompt => "Select" %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
