<div class="heading">
    <h1 class="list_mach_head">Parent Profiles </h1>
  <div class="float_right">
    <%= link_to 'New Parent profile', new_parent_profile_path %>
  </div>
</div>
<table id="parent_profile_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Relation</th>
    <th>Language</th>
    <th>Machine</th>
    <th>machine owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @parent_profiles.each do |parent_profile| %>
  <tr>
    <td><%= parent_profile.name %></td>
    <td><%= parent_profile.email%></td>
     <td><%= parent_profile.relation_type %></td>
     <% if parent_profile.lang == "en" %>
        <td>English</td>
     <% elsif parent_profile.lang == "no" %>
        <td>Norwegian</td>
     <%else%>
        <td>swedish</td>
     <%end%>
    <td><%= parent_profile.serialid %></td>
    <td><%= parent_profile.is_machine_owner %></td>
     <td><%= link_to 'Show', parent_profile %></td>
    <td><%= link_to 'Edit', edit_parent_profile_path(parent_profile) %></td>
    <td><%= link_to 'Destroy', parent_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />


<script>
    $(document).ready(function(){
        $("#parent_profile_table").dataTable()
    });
</script>