<div class="heading">
    <h1>Listing Parent Profiles</h1>
</div>
<table id="parent_profile_table">
  <thead>
  <tr>
    <th>Device type</th>
    <th>Relation</th>
    <th>Token</th>
    <th>Status</th>
    <th>Name</th>
    <th>Is machine owner</th>
    <th>machine </th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @parent_profiles.each do |parent_profile| %>
  <tr>
    <td><%= parent_profile.devise_type %></td>
    <td><%= parent_profile.relation_type%></td>
    <td><%= parent_profile.tokenid %></td>
    <td><%= parent_profile.status %></td>
    <td><%= parent_profile.name %></td>
    <td><%= parent_profile.is_machine_owner %></td>
    <td><%= parent_profile.serialid %></td>
    <td><%= parent_profile.lang%></td>
    <td><%= link_to 'Show', parent_profile %></td>
    <td><%= link_to 'Edit', edit_parent_profile_path(parent_profile) %></td>
    <td><%= link_to 'Destroy', parent_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Parent profile', new_parent_profile_path %>
<script>
    $(document).ready(function(){
        $("#parent_profile_table").dataTable()
    });
</script>