<div class="heading">
  <h1><%= @parent_profile.name %>'s Profile </h1>
</div>
<div class="breadcrum">Dashboard > <%=link_to "Parent Profile",parent_profiles_path %> </div><br>

<h2 class="heading_color">Profile Info</h2>
<div class="content_row">
<p class="left">
  <b>Registered On:</b>
  <%= @parent_profile.created_at.strftime("%Y-%m-%d %H:%M") %>
</p>
  <p class="center">
    <b>Device Type:</b>
    <%= @parent_profile.devise_type %>
  </p>

<p class="right">
  <b>Status:</b>
  <%= @parent_profile.status %>

</p>
</div>
 <div class="content_row">

<p class="left">
  <b>MachineOwner:</b>
  <%= @parent_profile.is_machine_owner %>
</p>
<% if !@parent_profile.is_machine_owner%>
<p class="center">
  <b><%= link_to "make machine owner",make_machine_owner_parent_profiles_path(@parent_profile.id)%></b>

</p>
<%end%>

</div> <br>


<div id="machines">
  <h2 class="heading_color"> Machine</h2><br>
<%unless @machine.nil?%>
  <table id="user_machine_table">
    <thead>
        <th>Serial No</th>
        <th>Activated On</th>
        <th>Firmware</th>
        <th>HW config</th>
        <th>Mac</th>
        <th>Ip Address</th>
        <th>actions</th>
    </thead>

    <tbody>
        <tr>
            <td><%=@machine.serialid%></td>
            <td><%=date_format(@machine.activated_on)%></td>
            <td><%=@machine.firmware%></td>
            <td><%=@machine.hwconfig%></td>
            <td><%=@machine.macaddress%></td>
            <td><%=@machine.ipaddress%></td>
            <td><%= link_to "Delete",@machine,:method => "delete"%>
                <%= link_to "Edit",edit_machine_path(@machine)%>
                <%= link_to "View",machine_path(@machine)%></td>
        </tr>
     </tbody>
  </table>
<%end%>
</div> <br>
<br>


<div id= "child_profiles">
  <h2 class="heading_color">Children total(<%=@parent_profile.child_profiles.where(:status=>true).count%>)</h2><br>

  <table id="parent_child_table">
    <thead>
      <th>Child name</th>
      <th>Registered On</th>
      <th>Status</th>
      <th>Action</th>
    </thead>

    <tbody>
    <% @parent_profile.child_profiles.where(:status=>true).each  do |child| %>
        <tr>
          <td><%= link_to child.name, parent_profile_child_profile_path(@parent_profile,child) %></td>
          <td><%= date_format(child.created_at)%></td>

          <td><%=child.status ? "active" : "inactive"%></td>
          <td>
                <%= link_to "Disable"  %>
                <%= link_to "Edit" , edit_parent_profile_child_profile_path(@parent_profile,child) %>
                <%= link_to "Preferences"  %>
                <%= link_to "View", parent_profile_child_profile_path(@parent_profile,child)%>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br />

</div>

<script>
    $(document).ready(function(){
        $("#user_machine_table").dataTable()
    });
</script>

<script>
    $(document).ready(function(){
        $("#parent_child_table").dataTable()
    });
</script>