<%= form_tag(vaccines_path, :method=>'post', :multipart => true) do %>

    <div class="field">
      <%= label_tag :title %>
      <%= text_field_tag :title %>
    </div>

    <div class="field">
      <%= label_tag "Age Count" %>
      <%= text_field_tag :count %>
    </div>

    <div class="field">Languages</div>
    <%@languages.each do |lang|%>
      <div class="field">
        <%= label_tag lang%>
        <%= text_field_tag lang%>
      </div>
    <%end%>

    <%= submit_tag :submit,:id=>"submit_button"%>
<% end %>
<script>
    //    "<div class='field' style='margin-left: 200px'><input id='age' size='30' type='text'> </div>"
    $('#count').change(function(){
        $('.age').remove() ;
        console.log($(this).val());
        $("input[id~='age']")
        var value = parseInt($(this).val());
        console.log(value);
        for ( var i = 0; i < value; i++ ) {
            var string = '<div class="field age" style="margin-left: 200px"><input name='+"age"+i+" "+' id='+"age"+i+" "+ ' type="text"> </div>'
            $(this).closest('div').after(string);
        }
    })

</script>