<%= form_for(@vaccine) do |f| %>

    <div class="field">
      <%= f.label :title%>
      <%= f.text_field :title%>
    </div>
    <%=f.fields_for :vaccine_ages do |builder|%>
          <div class="field">
            <%= builder.label :age ,"Child Age" %>
            <%= builder.text_field :age%>
            <%= builder.hidden_field :_destroy %>
            <%= link_to_function "remove","remove_fields(this)" %>
          </div>
    <%end%>
    <p><%= link_to_add_fields "Add Age", f, :vaccine_ages %></p><br>
    <p>Languages</p><br>
    <%= f.fields_for :vaccine_languages do |builder|%>
        <div class="field">
          <%=builder.label :english%>
          <%=builder.text_field :title%>
        </div>
        <div class="field">
          <%=builder.label :swedish%>
          <%=builder.text_field :title%>
        </div>
        <div class="field">
          <%=builder.label :norvegion%>
          <%=builder.text_field :title%>
        </div>
    <%end%>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<script>

    function add_fields(link, association, content) {
        console.log (link)
        var new_id = new Date().getTime();
        var regexp = new RegExp("new_" + association, "g")
        $(link).parent().before(content.replace(regexp, new_id));
    }

    function remove_fields(link) {
        $(link).prev("input[type=hidden]").val("true");
        alert($(link).prev("input[type=hidden]").val())
        $(link).closest(".field").hide();
    }


</script>