<%= form_for(@vaccine) do |f| %>
  <% if @vaccine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vaccine.errors.count, "error") %> prohibited this vaccine from being saved:</h2>

      <ul>
      <% @vaccine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
    <div class="field">
      <%= f.label :age %>
      <%= f.text_field :age %>
    </div>
    <div class="field">
      <%= f.label :year_courses %>
      <%= f.text_field :year_courses %>
    </div>
    <div class="field">
      <%= f.label :vaccination_against %>
      <%= f.text_field :vaccination_against %>
    </div>
    <div class="field">
      <%= f.label :number_of_doses %>
      <%= f.text_field :number_of_doses %>
    </div>
  <div class="field">
    <%= f.label :language%>
    <%= select_tag :lang, options_for_select([["Select One", ""], ["English","en"], ["Swedish","sv"], ["Norwegian","no"]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
