<p id="notice"><%= notice %></p>

<div class="content_row">
  <p class="left">
    <b>Title:</b>
    <%= @vaccine.title %>
 </p>

  <%@vaccine.vaccine_ages.each do |age|%>
     <p>
      <b>Age:</b>
      <%= age.age %>
     </p>
  <%end%>

  <p class="left">
    <b>English :</b>
    <%= @vaccine.en %>
  </p>
  <p class="center">
    <b>Swedish :</b>
    <%= @vaccine.sv %>
  </p>
  <p class="right">
    <b>norwegian :</b>
    <%= @vaccine.no %>
  </p>

</div>

<%= link_to 'Edit', edit_vaccine_path(@vaccine) %> |
<%= link_to 'Back', vaccines_path %>
