<p id="notice"><%= notice %></p>

<div class="content_row">
  <p class="left">
    <b>Title:</b>
    <%= @vaccine.title %>
 </p>

  <%@vaccine.vaccine_ages.each do |age|%>
     <p>
      <b>Age:</b>
      <%=age.age%>
     </p>
  <%end%>

</div>

<%= link_to 'Edit', edit_vaccine_path(@vaccine) %> |
<%= link_to 'Back', vaccines_path %>
