<div class="heading">
  <div class="breadcrum">Dashboard > <%=link_to "vendors",vendors_path %> </div><br>

  <h1><%= @vendor.name %></h1>
  <h2 class="list_mach_head">Vendor Products:  </h2>

  <div class="float_right">
    <%= link_to 'New Product', new_vendor_product_path(@vendor) %>
  </div>
</div>
<%unless @vendor_products.nil?%>
    <table id="vendor_table">
      <thead>
      <th>Name</th>
      <th>Brew Type</th>
      <th></th>
      <th></th>
      <th></th>
      </thead>
      <tbody>
      <% @vendor_products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.brew_type %></td>
            <td><%= link_to 'Show', vendor_product_path(@vendor, product) %></td>
            <td><%= link_to 'Edit', edit_vendor_product_path(@vendor, product) %></td>
            <td><%= link_to 'Destroy', vendor_product_path(@vendor, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<%end%>

<br />


<script>
    $(document).ready(function(){
        $("#vendor_table").dataTable()
    });
</script>