<%= form_for(@machine) do |f| %>
  <% if @machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
      <% @machine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.number_field :serialid %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :firmware_version %><br />
    <%= f.text_field :firmware %>
  </div>
  <div class="field">
    <%= f.label :hw_config %><br />
    <%= f.text_field :hwconfig %>
  </div>
  <div class="field">
    <%= f.label :mac_address %><br />
    <%= f.text_field :macaddress %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br />
    <%= f.text_field :ipaddress %>
  </div>
  <div class="field">
      <%= f.label :bootloader_version %><br />
      <%= f.text_field :bootloader %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
