
<div class="list_mach_head">
    <h1>Listing machines</h1>
</div>
<h2 class="heading_color">Active Machines</h2>
<div class="float_right">
  <%= link_to 'New Machine', new_machine_path %>
  </div>

<table id="active_machines_table">
  <thead>
  <tr>
    <th>Serial number</th>
    <th>Firmware version</th>
    <th>Hw config</th>
    <th>BootLoader Version</th>
    <th>Ip address</th>
    <th>Mac address</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @active_machines.each do |machine| %>
  <tr>
    <td><%= machine.serialid %></td>
    <td><%= machine.firmware %></td>
    <td><%= machine.hwconfig %></td>
    <td><%= machine.bootloader %></td>
    <td><%= machine.ipaddress %></td>
    <td><%= machine.macaddress %></td>
    <td><%=  machine.status ? "active" : "inactive"  %></td>
    <td><%= link_to 'View', machine %></td>
    <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
    <td><%= link_to 'Delete', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br /><br><br>

<h2 class="heading_color" style="padding-bottom: 20px">Inactive Machines</h2>

<table id="inactive_machines_table">
  <thead>
  <tr>
    <th>Serial number</th>
    <th>Firmware version</th>
    <th>Hw config</th>
    <th>BootLoader Version</th>
    <th>Ip address</th>
    <th>Mac address</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @inactive_machines.each do |machine| %>
      <tr>
        <td><%= machine.serialid %></td>
        <td><%= machine.firmware %></td>
        <td><%= machine.hwconfig %></td>
        <td><%= machine.bootloader %></td>
        <td><%= machine.ipaddress %></td>
        <td><%= machine.macaddress %></td>
        <td><%=  machine.status ? "active" : "inactive"  %></td>
        <td><%= link_to 'View', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Delete', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
        $("#active_machines_table").dataTable()
    });
</script>
<script>
    $(document).ready(function(){
        $("#inactive_machines_table").dataTable()
    });
</script>