
<h3> Machine Manager > <%=@machine.serialid%></h3>

<div class="content_row">
<p class="left">
  <b>Registered on:</b>
  <%= @machine.activated_on.strftime("%Y-%m-%d %H:%M") %>
</p>

<p class="center">
  <b>Owner:</b>
  <%= @owner.name unless @owner.nil?%>

</p>

<p class="right">
  <b>Status:</b>
  <%=  @machine.status ? "active" : "inactive"  %>
</p>
</div>

<div class="content_row">
<p class="left">
  <b>Ip address:</b>
  <%= @machine.ipaddress %>

</p>

<p class="center">
  <b>Firmware version:</b>
  <%= @machine.firmware %>

</p>

<p class="right">
  <b>Hw config:</b>
  <%= @machine.hwconfig %>
 </p>

</div>

<div class="content_row">
  <b>Mac address:</b>
  <%= @machine.macaddress %>
</p>
</div>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>

<br><br>
<div id="logs">
         <h3>Machine logs</h3> <br>
<% unless @machine_logs.empty? %>
      <table id= "machine_logs">
        <thead>
          <th>Log Date Time</th>
          <th>Log Info</th>
          <!--<th></th>-->
          <!--<th></th>-->
        </thead>
         <tbody>
        <% @machine_logs.each do |machine_log| %>
            <tr>
              <td><%= machine_log.created_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= machine_log.data %></td>
              <!--<td><%= link_to 'Edit', edit_machine_log_path(machine_log) %></td>-->
              <!--<td><%= link_to 'Destroy', machine_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
        <% end %>
         </tbody>
      </table>
 <%else%>
    <p>No logs for this machine</p>
 <%end%>

</div>
<script>
    $(document).ready(function(){
        $("#machine_logs").dataTable()
    });
</script>