
<h2 class="heading_color">Machine Info</h2>
<h3 class="breadcrum"> Machine Manager > <%= link_to @machine.serialid, machine_path(@machine)%></h3>

<div class="content_row">
  <p class="left_show_machine">
    <b>Registered on:</b>
    <%= @machine.activated_on.strftime("%Y-%m-%d %H:%M") %>
  </p>

  <p class="center_show_machine">
    <b>Owner:</b>
    <%= @owner.name unless @owner.nil?%>

  </p>

  <p class="right_show_machine">
    <b>Status:</b>
    <%=  @machine.status ? "active" : "inactive"  %>
  </p>
</div>

<div class="content_row">
  <p class="left_show_machine">
    <b>Ip address:</b>
    <%= @machine.ipaddress %>
  </p>

  <p class="center_show_machine">
    <b>Firmware version:</b>
    <%= @machine.firmware %>
  </p>

  <p class="right_show_machine">
    <b>Hw config:</b>
    <%= @machine.hwconfig %>
  </p>
</div>

<div class="content_row">
  <p class="left_show_machine">
    <b>Mac address:</b>
    <%= @machine.macaddress %>
  </p>

  <p class="center_show_machine">
    <b>Error Message:</b>
    <%= @machine.error_msg %>
  </p>

  <p class="right_show_machine">
    <b>Temperature:</b>
    <%= @machine.temp %>
  </p>
</div>

<div class="content_row">
  <p class="left_show_machine">
    <b>PSU Voltage:</b>
    <%= @machine.psu_voltage %>
  </p>
</div>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>

<br><br>
<div id="logs">
         <h3 class="heading_color">Machine logs</h3> <br>
<% unless @machine_logs.empty? %>
      <table id= "machine_logs">
        <thead>
          <th>Log Date Time</th>
          <th>Log Info</th>
          <!--<th></th>-->
          <!--<th></th>-->
        </thead>
         <tbody>
        <% @machine_logs.each do |machine_log| %>
            <tr>
              <td><%= machine_log.created_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= machine_log.log_type %>(<%= machine_log.data%>)</td>
              <!--<td><%= link_to 'Edit', edit_machine_log_path(machine_log) %></td>-->
              <!--<td><%= link_to 'Destroy', machine_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
        <% end %>
         </tbody>
      </table>
 <%else%>
    <p>No logs for this machine</p>
 <%end%>

</div>
<script>
    $(document).ready(function(){
        $("#machine_logs").dataTable()
    });
</script>