<p id="notice"><%= notice %></p>

<p>
  <b>Serial number:</b>
  <%= @machine.serialid %>
</p>

<p>
  <b>Status:</b>
  <%=  @machine.status ? "active" : "inactive"  %>
</p>

<p>
  <b>Activated on:</b>
  <%= @machine.activated_on.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <b>Firmware version:</b>
  <%= @machine.firmware %>
</p>

<p>
  <b>Hw config:</b>
  <%= @machine.hwconfig %>
</p>

<p>
  <b>Mac address:</b>
  <%= @machine.macaddress %>
</p>

<p>
  <b>Ip address:</b>
  <%= @machine.ipaddress %>
</p>
<p>
  <b>bootloader_version:</b>
  <%= @machine.bootloader %>
</p>


<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>


<div id="machine logs">

<% unless @machine_logs.empty? %>
      <table>
        <thead>
          <th>Log Date Time</th>
          <th>Log Info</th>
          <!--<th></th>-->
          <!--<th></th>-->
        </thead>

        <% @machine_logs.each do |machine_log| %>
            <tr>
              <td><%= machine_log.created_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= machine_log.data %></td>
              <!--<td><%= link_to 'Edit', edit_machine_log_path(machine_log) %></td>-->
              <!--<td><%= link_to 'Destroy', machine_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
        <% end %>
      </table>
 <%else%>
  <p>No logs for this machine</p>
 <%end%>

</div>