<p id="notice"><%= notice %></p>

<p>
  <b>Serial number:</b>
  <%= @machine.serial_number %>
</p>

<p>
  <b>Status:</b>
  <%= @machine.status %>
</p>

<p>
  <b>Activated on:</b>
  <%= @machine.activated_on %>
</p>

<p>
  <b>Firmware version:</b>
  <%= @machine.firmware_version %>
</p>

<p>
  <b>Hw config:</b>
  <%= @machine.hw_config %>
</p>

<p>
  <b>Mac address:</b>
  <%= @machine.mac_address %>
</p>

<p>
  <b>Ip address:</b>
  <%= @machine.ip_address %>
</p>
<p>
  <b>bootloader_version:</b>
  <%= @machine.bootloader_version %>
</p>


<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>


<div id="machine logs">

<% unless @machine_logs.empty? %>
      <table>
        <tr>
          <th>Data</th>
          <!--<th></th>-->
          <!--<th></th>-->
          <!--<th></th>-->
        </tr>

        <% @machine_logs.each do |machine_log| %>
            <tr>
              <td><%= machine_log.data %></td>
              <!--<td><%= link_to 'Show', machine_log %></td>-->
              <!--<td><%= link_to 'Edit', edit_machine_log_path(machine_log) %></td>-->
              <!--<td><%= link_to 'Destroy', machine_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
        <% end %>
      </table>
 <%else%>
  <p>No logs for this machine</p>
 <%end%>

</div>