<h1 class="new_machine_head">Firmware</h1>

<div class="content_row">
  <p class="left">
    <b>Firmware Version :</b>
    <%= @firmware.firmwareversion %>
  </p>
  <p class="center">
  <b>Serial Ids:</b>
  <%= @firmware.serialids %>
</p>
 </div>
<div class="content_row">
  <b>Downloading Link :</b>
  <p style="padding-right: 180px; display: table-cell">
    <%= download_firmware_url(@firmware) %>
    <%= link_to "Download Firmware file ",  download_firmware_path(@firmware) %>
  </p>
</div>
<br>


<%= link_to 'Edit', edit_firmware_path(@firmware) %> |
<%= link_to 'Back', firmwares_path %>
