<!DOCTYPE html>
<html>
<head>
  <title>Cloudweb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="wrap">
<div id="wrapper">
<div class="header_div">
    <div class="image_div">
      <img src="/..//assets/logo.png">
    </div>
    <div class="users">You are signed in as <b><%= current_user.name%> </b>&nbsp <%= link_to "SignOut", signout_path, method: "delete" %> </div>
    <div class="search_div">Search
      <div class="search"><input type="text" id="search_field" placeholder="search" /></div>
    </div>
</div>

<div class="nav_div">
  <ul id="menu">
   <li> <%= link_to "Dashboard", root_path%></li>
   <li><a href="">Users</a>
     <ul>
       <li><a href="/parent_profiles">Parent Profile</a></li>
       <li><a href="/milestones">Milestones</a></li>
     </ul>
   </li>
   <li><a href="">Machines</a>
     <ul>
       <li> <a href="/machines">Machines</a></li>
       <li> <a href="/firmwares">Firmware</a></li>
       <li><a href="/machines/machines_import">Machine Import</a></li>
     </ul>
   </li>
   <li><a href="">Staff Users</a>
   <li><a href="">Profile</a>

  </ul>
</div>
<div id="container">
  <div class="info_div">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
  </div>
    <%= yield %>
</div>

<div class ="footer">
<p id="footer_text">Copyright @2014, Technogarden</p>

</div>
</div>
</body>
</html>
