<!DOCTYPE html>
<html>
<head>
  <title>Cloudweb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body id="wrap">
    <div id="wrapper">
        <div class="header_div">
            <div class="image_div">
                <img src="/..//assets/logo_blue.png">
            </div>
            <br>
            <div class="users">
              <% if current_user.nil?%>
                 <%= link_to "LogIn", signin_path, method: "get"%>
              <% else %>
                You are signed in as <b><%= current_user.name %> </b>&nbsp <%= link_to "LogOut", signout_path, method: "delete" %>
              <%end%>
            </div>
        </div>

        <div class="nav_div">
          <% if current_user%>
            <ul id="menu">
                <li> <%= link_to "Dashboard", admin_dashboard_index_path %></li>
                <li><a href="">Users</a>
                    <ul>
                        <li><a href="/parent_profiles">Parent Profile</a></li>
                    </ul>
                </li>
                <li><a href="/machines">Machines</a>
                    <ul>
                        <li> <a href="/machines">Machines</a></li>
                        <li><a href="/machines/machines_import">Machine Import</a></li>
                    </ul>
                </li>
              <% if current_user && current_user.admin?  %>
                <li><%= link_to "Staff Users", users_path %>

                <ul>
                    <li><%= link_to "Add New User", signup_path%> </li>
                    <li><%= link_to "All Users",users_path %></li>
                </ul>
                <%end%>
              <li><%= link_to "Firmware",firmwares_path%></li>
              <li><%= link_to "Vaccines",vaccines_path%></li>
               <li><a href="/milestones">Milestones</a></li>
              <li><%= link_to "Vendors",vendors_path%></li>
           </ul>
          <%end%>
        </div>

        <div id="flash_msgs">
          <% if notice.present? %>
              <p class=" notice alert-success " id="flash_notice"><%= notice %></p>
              <%= javascript_tag "setTimeout(function(){ $('#flash_notice').remove(); }, 5000);" %>
          <% end %>
          <% if alert.present? %>
              <p class="alert alert-danger" id="flash_errors" ><%= alert %></p>
              <%= javascript_tag "setTimeout(function(){ $('#flash_errors').remove();}, 5000);" %>
          <% end %>
          <% flash[:error] = flash[:errors] = flash[:notice] = nil %>
        </div>

        <div id="container">
            <%= yield %>
        </div>

         <div class="clear">
         </div>
        <div class ="footer">

            <p id="footer_text">Copyright @2014, Technogarden</p>
        </div>
    </div>
</body>
</html>
