<!DOCTYPE html>
<html>
<head>
  <title>Cloudweb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header_div">
   <div class ="info_div">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
   </div>
    <div class="image_div">Pic not available</div>
    <div class="users">You are signed in as <b> <%= current_user.name %></b><%= link_to "Sign_out" , destroy_user_session_path ,:method => :delete%> </div>
    <div class="search_div">Search
      <div class="search"></div>
    </div>
</div>

<div class="nav_div">
  <ul id="menu">
   <li> <%= link_to "Dashboard", root_path%></li>
   <li><a href="">Users</a>
     <ul>
       <li><a href="/parent_profiles">Parent Profile</a></li>
     </ul>
   </li>
   <li><a href="">Machines</a>
     <ul>
       <li> <a href="/machines">Machines</a></li>
     </ul>
   </li>
   <li><a href="">Staff Users</a>
   <li><a href="">Profile</a>

  </ul>
</div>

<%= yield %>

<div class ="footer_div">
<p>footer div</p>

</div>

</body>
</html>
