
<html>
<head>
  <title>Cloudweb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="sign_in_div">
  <div class="sing_in_inner_div">
    <div class="info_div">
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    </div>
<%= yield %>
</div>
</div>

</body>
</html>
